.fr-view {
    padding-left: 30px !important;
}

.disabled {
    background-color: #F8F8F8;
}

.answer {
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 0.2em;
    font-weight: bold;
    min-width: 100px;
    text-align: center;
}

.enabled {
    background-color: #FFF ! important;
}

.ico:before{
    content: '';
    background:url('./edit-regular.svg');
    background-size:cover;
    position:absolute;
    width:20px;
    height:20px;
    left:5px;
}